<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pi Car</title>
    <meta name="description" content="Raspberry Pi based car system">
    <meta name="author" content="Joe Coburn">
    <link href="static/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="container text-center text-light">
        <h2>Hello.</h2>
        <h3>{{ data.date }}</h3>
        <div class="row">
            <div class="col text-left">
                <i class="fas fa-clock"></i>{{ data.time }}
            </div>
            <div class="col text-right">
                {% if data.temperature <=4 %}
                    <i class="fas fa-snowflake"></i>
                {% endif %}
                {{ data.temperature }}° C
                <br />
                {% if data.light_status == 'Daytime' %}
                    <i class="fas fa-sun"></i>
                {% else %}
                    <i class="fas fa-moon"></i>
                {% endif %}
                {{ data.light_status }}
            </div>
        </div>
        <div class="row">
            <div class="col text-middle">
                <i class="fas fa-car icon-huge"></i>
            </div>
        </div>
        <div class="row">
            <div class="col text-middle">
                {% if boot_status == 'Open' %}
                    <i class="fas fa-exclamation"></i><span class="exclamation">Boot is open</span>
                {% endif %}
                <br>
                {% if fog_light %}
                    <i class="fas fa-lightbulb"></i>Fog lights are on
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>