<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pi Car</title>
    <meta name="description" content="Raspberry Pi based car system">
    <meta name="author" content="Joe Coburn">
    <link href="static/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="container text-center text-light">
        <h1>Hello.</h1>
        <h2>Wednesday 8th January 2020</h2>
        <div class="row">
            <div class="col text-left">
                <i class="fas fa-clock"></i>15:50
            </div>
            <div class="col text-right">
                <i class="fas fa-snowflake"></i> 20° C
                <br />
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>Daytime
            </div>
        </div>
        <div class="row">
            <div class="col text-middle">
                <i class="fas fa-car icon-huge"></i>
            </div>
        </div>
        <div class="row">
            <div class="col text-middle">
                <i class="fas fa-exclamation"></i><span class="exclamation">Boot is open</span>
                <br>
                <i class="fas fa-lightbulb"></i>Fog lights are on
            </div>
        </div>
    </div>
</body>

</html>