<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Pi Car</title>
        <meta name="description" content="Raspberry Pi based car system">
        <meta name="author" content="Joe Coburn">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <div class="container text-center text-light">
            <img src="{{ base_url }}">
        </div>
    </body>
</html>
