<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Pi Car</title>
        <meta name="description" content="Raspberry Pi based car system">
        <meta name="author" content="Joe Coburn">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <script type="text/javascript">
            var runSensors = function() {
              var xhttp = new XMLHttpRequest();
              xhttp.open("GET", "/reverse/beep/", true);
              xhttp.onreadystatechange = function() {
                if (xhttp.readyState === 4) {
                  result = xhttp.response
                  if (result === "Exit") {
                    window.location.href = "/";
                  }
                }
              }
              xhttp.send();
            }
            window.onload = function() {
              setInterval(runSensors, 250);
            }
        </script>
    </head>

    <body>
        <img src="{{ base_url }}">
    </body>
</html>
